RewriteEngine On
RewriteBase /

# prabayar category
RewriteRule ^modules/prabayar/([A-Za-z0-9_-]+)$ /modules/prabayar/?cat=$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [L]

RewriteRule ^cms/([0-9]+)\.([a-zA-Z0-9]+)$ /modules/cms.php?id=$1&ext=$2 [L,QSA]